filter,
.filter {
	section {
		margin: 36px 0 24px;
	}

	&__popover {
    position: relative;
    float: right;
    &:hover:after,
    &:hover:before {
      opacity: 1;
    }
    &:after{ 
      opacity: 0;
      content: "Email Selected Members";
      background-color: $color-blue;;
      position: absolute;
      width: 173px;
      padding: 8px;
      color: white;
      transform: translate(-50px,-130%);
    }
    &:before{ 
      opacity: 0;
      content: "";
      position: absolute;
      top: -25px;
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid $color-blue;
      left: 13px;
    };
	}
}
